@media screen and (max-width: 83.125em) {
    html {
        width: 100vw;
        overflow-x: hidden;
    }
    .content-top-container::before {
        transition: ease-in 1s;
        opacity: 30%;
    }
    /* Content Two */
    .content-two-divider1 {
        width: 70%;
        height: 100%;
    }
    .content-two-divider2 {
        width: 60%;
        height: 60%;
    }
    .content-two-box1 {
        left: 1rem;
        transition: ease-in 1s;
    }
    .content-two-box2 {
        left: 4rem;
        transition: ease-in 1s;
    }
    /* Content Three */
    .content-three-icon-3 {
        transition: ease-in 1s;
        top: 8rem;
    }
    /* Content Four */
    .content-four {
        height: 65rem;
    }
    .content-four-title-text {
        position: relative;
        top: 4rem;
        color: var(--white);
    }
    .content-four-container {
        width: 80%;
        margin: 120px auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 3.75rem;
        column-gap: 6.25rem;
        transition: ease-in 1s;
    }
    /* Content Seven */
    .content-seven-half-01 {
        width: 70%;
    }
    .content-seven-half-02 {
        width: 100%;
        position: relative;
        left: 2rem;
    }
    /* Footer */
    .footer {
        position: relative;
        top: 0rem;
        height: 15rem;
    }
    .footer-logo {
        position: relative;
        left: 1.4rem;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-social-links-container {
        order: 1;
        top: 1rem;
        left: 1rem;
    }
    .footer-links-container {
        order: 3;
        position: relative;
        top: 3rem;
    }
}