@media screen and (max-width: 50.25em) {
    html {
        width: 100vw;
        overflow-x: hidden;
    }
    .content-top-container {
        position: relative;
        width: 56.25rem;
        height: 38.4375rem;
        overflow: hidden;
    }
    .content-top-container::before {
        opacity: 25%;
    }
    .content-top-logo {
        width: 6.1875rem;
        height: 2rem;
        left: 15.625rem;
        top: 2.5625rem;
    }
    .content-top-primary-text {
        width: 23.4375rem;
        height: 7.4375rem;
        left: 7.5rem;
        top: 6.25rem;
        font-size: 1.875rem;
        line-height: 2.5rem;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .content-top-secondary-text {
        width: 20rem;
        height: 4.375rem;
        left: 9.6875rem;
        top: 8.25rem;
        font-size: 1rem;
        line-height: 1.4375rem;
        text-align: center;
    }
    .content-top-apps-container {
        display: flex;
        position: relative;
        width: 9.105625rem;
        height: 2.75rem;
        left: 9.375rem;
        top: 12rem;
    }
    .content-top-apps-container-google {
        margin: 0 15px;
    }
    /* Content Two */
    .content-two {
        flex-direction: column-reverse;
        height: 42.875rem;
    }
    .content-two-divider1 {
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-position: initial;
        /* background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url(../img/section-two-image05.png); */
    }
    .content-two-divider2 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .content-two-box1 {
        width: 15.450625rem;
        height: 9.34875rem;
        left: 1rem;
        top: 1rem;
    }
    .content-two-box1-container-text {
        justify-content: space-around;
        top: 0rem;
    }
    .content-two-box1-text-1 {
        width: 4.279375rem;
        height: 0.98875rem;
        font-size: 0.719925rem;
        line-height: 0.9375rem;
    }
    .content-two-box1-text-2 {
        width: 3.288125rem;
        height: 2.1575rem;
        font-size: 0.77211875rem;
        line-height: 1rem;
    }
    .content-two-box1-text-3 {
        width: 5.315625rem;
        height: 1.07875rem;
        font-size: 0.686325rem;
        line-height: 0.875rem;
    }
    .content-two-box1-container-images {
        top: 1rem;
        right: 0;
        left: 8rem;
    }
    .content-two-box1-notification-container {
        width: 15.4375rem;
    }
    .content-two-box1-notification-container p {
        width: 10.765625rem;
        height: 1.07875rem;
        font-size: 0.80991875rem;
        line-height: 1.0625rem;
    }
    .content-two-box2 {
        width: 15.450625rem;
        height: 9.358125rem;
        left: 5rem;
        top: 0;
        background: url(../img/mobile/section-two-image02.png)
    }
    .content-two-box2-player-bg {
        width: 15.450625rem;
        height: 2.1125rem;
        top: 7.3rem;
        border-radius: 0px 0px 2.74531px 2.74531px;
    }
    .content-two-box2-player-container {
        top: 5.8rem;
    }
    .player-bar-mobile {
        position: relative;
        top: -0.13rem;
    }
    .content-two-box2-player-container span {
        font-size: 0.514745rem;
        line-height: 0.625rem;
        top: 0.2rem;
    }
    /* Content three */
    .content-three {
        transition: ease-in 1s;
        flex-direction: column-reverse;
        display: block;
        background-image: none;
    }
    .content-three-divider-1 {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .content-three-divider-2 {
        background-image: url(../img/mobile/section-three-image01.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    .content-three-icon-1 {
        bottom: 12rem;
        left: 10.4rem;
    }
    .content-three-icon-2 {
        top: 4rem;
        right: 4rem;
    }
    .content-three-icon-3 {
        visibility: hidden;
    }
    /* Content four */
    .content-four {
        background-image: none;
        background: var(--grey-light);
        top: 38rem;
        height: 100%;
        width: 100%;
    }
    .content-four-title-text {
        color: var(--grey-black);
    }
    .content-four-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        color: var(--grey-black-2);
    }
    .content-four-container img {
        display: flex;
        bottom: 0rem;
        left: 0rem;
        margin: 30px auto;
        filter: invert(40%) sepia(26%) saturate(4499%) hue-rotate(167deg) brightness(103%) contrast(101%);
    }
    .dot::before {
        content: "";
    }
    /* Content five */
    .content-five {
        width: 100%;
        height: 100%;
        background: var(--white);
        position: relative;
        top: 32rem;
    }
    .content-five-title {
        top: 1rem;
    }
    .content-five-container {
        top: 4rem;
    }
    .content-five-container img:nth-child(4),
    .content-five-container img:nth-child(5) {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .content-five-arrows-container {
        bottom: 3rem;
    }
    .content-five-dots-container {
        top: 3rem;
    }
    /* Content Six */
    .content-six {
        width: 100%;
        height: 30rem;
        background: var(--grey-light);
        position: relative;
        top: 32rem;
    }
    .content-six-container {
        background: var(--grey-light);
        top: 9rem;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 0 5rem;
    }
    /* Content Seven */
    .content-seven {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        position: relative;
        top: 33rem;
        justify-content: center;
    }
    .content-seven-half-01 {
        background-image: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: 4rem;
    }
    .content-seven-half-01 img {
        visibility: visible;
    }
    .content-seven-half-02 {
        height: 100%;
        align-items: center;
    }
    .content-seven-half-02 .content-top-apps-container {
        align-self: baseline;
        left: 8.8rem;
        top: 1rem;
    }
}