/* Basic Setup */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');
 :root {
    --grey-black: #333333;
    --grey-black-2: #4F4F4F;
    --grey-light: #FAFAFA;
    --deep-sky-blue: #00ADEE;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Reusable Code */

.text-01 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.18rem;
    line-height: 1.21rem;
    color: var(--deep-sky-blue);
}

.text-02 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.31rem;
    color: var(--grey-black);
}

.text-03 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.43rem;
    color: var(--grey-black-2);
}

.lato {
    font-family: Lato;
    font-style: normal;
}


/* Content Top */

.content-top-container {
    position: relative;
    width: 100%;
    height: 41.56rem;
    background: #F4F6F9;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content-top-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/content-top-frame-1.webp);
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
}

.content-top-logo {
    position: relative;
    width: 6.18rem;
    height: 2rem;
    left: 10.18rem;
    top: 3.18rem;
}

.content-top-primary-text {
    position: relative;
    width: 34.125rem;
    height: 6rem;
    left: 10.18rem;
    top: 9.75rem;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 3rem;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03rem;
    color: var(--grey-black);
}

.content-top-secondary-text {
    position: relative;
    width: 28.31rem;
    height: 3.25rem;
    left: 10.18rem;
    top: 11.37rem;
    font-weight: normal;
    font-size: 1.12rem;
    line-height: 1.62rem;
    color: var(--grey-black-2);
}

.content-top-apps-container {
    display: flex;
    position: relative;
    width: 9.75rem;
    height: 2.93rem;
    left: 10.12rem;
    top: 14rem;
    cursor: pointer;
}

.content-top-apps-container-google {
    margin: 0 2.25rem;
}


/* Content Two */

.content-two {
    width: 100%;
    height: 37rem;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.content-two-divider1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url(../img/section-two-image01.png);
    background-position: left;
    background-repeat: no-repeat;
}

.content-two-box1 {
    width: 22.5rem;
    height: 13.62875rem;
    background: var(--white);
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 10rem;
    top: 7rem;
    z-index: 2;
}

.content-two-box1-container-text {
    display: flex;
    height: 7.5rem;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 2rem;
    left: 1rem;
}

.content-two-box1-text-1 {
    width: 6.231875rem;
    height: 1.44125rem;
    font-weight: bold;
    font-size: 1.048rem;
    line-height: 1.375rem;
    color: var(--grey-black-2);
}

.content-two-box1-text-2 {
    width: 4.78rem;
    height: 3.145rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--black);
}

.content-two-box1-text-3 {
    width: 7.740625rem;
    height: 1.5725rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: var(--black);
}

.content-two-box1-container-images {
    display: flex;
    align-self: flex-end;
    width: 9.685625rem;
    height: 6.35875rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.content-two-box1-notification-container {
    width: 22.5rem;
    height: 3.079375rem;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: space-around;
}

.content-two-box1-notification-container p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.180075rem;
    line-height: 1.5625rem;
    color: var(--grey-black-2);
    align-self: center;
}

.content-two-box2 {
    width: 22.5rem;
    height: 13.62875rem;
    background: url(../img/section-two-image02.webp);
    border-radius: 0.25rem;
    position: relative;
    top: 4rem;
    left: 17rem;
}

.content-two-divider2 {
    display: flex;
    width: 60%;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
}

.content-two-link {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: var(--deep-sky-blue);
    text-decoration: none;
}

.content-two-box2-player-bg {
    position: relative;
    top: 10.5rem;
    width: 22.5rem;
    height: 3.079375rem;
    background: var(--black);
    opacity: 0.6;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-two-box2-player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 8rem;
}

.content-two-box2-player-container span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: var(--white);
    position: relative;
    top: 0.3rem;
}


/* Content three */

.content-three {
    display: flex;
    width: auto;
    height: 40rem;
    background-image: url(../img/section-three-image01.png);
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: row;
}

.content-three-divider-1 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-direction: column;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    position: relative;
    top: 2rem;
    background: var(--white);
}

.fixmargin {
    margin-top: -14rem;
}

.content-three-divider-2 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    width: 60%;
    height: auto;
    position: relative;
    top: 2rem;
}

.content-three-icon-1 {
    position: relative;
    bottom: 15rem;
    left: 13rem;
}

.content-three-icon-2 {
    position: relative;
    top: 8rem;
    right: 7rem;
}

.content-three-icon-3 {
    position: relative;
    top: 10rem;
}


/* Content four */

.content-four {
    background-image: url(../img/section-four-image01.png);
    background-repeat: round;
    width: 100%;
    height: 60rem;
    position: relative;
    top: 1rem;
}

.content-four-title-text {
    position: relative;
    top: 9rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.3125rem;
    color: var(--white);
}

.content-four-container {
    display: grid;
    width: 80%;
    height: auto;
    margin: 300px auto;
    grid-template-columns: repeat(3, 1.5fr);
    grid-template-rows: repeat(3, 1.5fr);
    grid-row-gap: 3.875rem;
    column-gap: 11.25rem;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4375rem;
    color: var(--white);
}

.content-four-container img {
    position: relative;
    bottom: 1.5rem;
    left: 2.6rem;
}

.dot::before {
    content: "• ";
}


/* Content Five */

.content-five {
    width: 100%;
    height: 430px;
}

.content-five-title {
    position: relative;
    top: 4rem;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: var(--grey-black);
}

.content-five-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 9rem;
}

.content-five-arrows-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content-five-arrows-container img {
    cursor: pointer;
}

.content-five-arrows-container img:nth-child(2) {
    position: relative;
    bottom: 0.18rem;
}

.content-five-dots-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 8rem;
}

.content-five-dots-container span {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.content-five-dots-1 {
    background: #828282;
}

.content-five-dots-2 {
    background: #979595;
}

.content-five-dots-3 {
    background: #B2B0B0;
}

.content-five-dots-4 {
    background: #CDCBCB;
}

.content-five-dots-5 {
    background: #E2E1E1;
}

.content-five-dots-6 {
    background: #EEEEEE;
}

.content-five-dots-7 {
    background: #F7F7F7;
}


/* Content Six */

.content-six {
    width: 100%;
    height: 430px;
}

.content-six-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: center;
    position: relative;
    top: 7rem;
}