@media screen and (max-width: 30em) {
    html {
        width: 100vw;
        overflow-x: hidden;
    }
    .content-top-container {
        position: relative;
        width: 30rem;
        height: 38.4375rem;
        overflow: hidden;
    }
    .content-top-container::before {
        opacity: 20%;
    }
    .content-top-logo {
        width: 6.1875rem;
        height: 2rem;
        left: 9.375rem;
        top: 2.5625rem;
    }
    .content-top-primary-text {
        width: 23.4375rem;
        height: 7.4375rem;
        left: 1.25rem;
        top: 6.25rem;
        font-size: 1.875rem;
        line-height: 2.5rem;
        display: flex;
        align-items: flex-end;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .content-top-secondary-text {
        width: 20rem;
        height: 4.375rem;
        left: 3.4375rem;
        top: 8.25rem;
        font-size: 1rem;
        line-height: 1.4375rem;
        text-align: center;
    }
    .content-top-apps-container {
        display: flex;
        position: relative;
        width: 9.105625rem;
        height: 2.75rem;
        left: 3.125rem;
        top: 12rem;
    }
    .content-top-apps-container-google {
        margin: 0 15px;
    }
    /* Content Two */
    .content-two-divider2 {
        width: 80%;
        height: 100%;
    }
    .content-two-box1 {
        left: 1rem;
        top: 1rem;
    }
    .content-two-box2 {
        left: 3rem;
        top: 0rem;
    }
    /* Content three */
    .content-three-divider-2 {
        background-position: right;
    }
    .content-three-image01 {
        position: relative;
        top: 1rem;
        right: 5rem;
        transition: ease-in 1s;
    }
    .content-three-icon-1 {
        bottom: 12rem;
        left: 5.4rem;
        z-index: 2;
        transition: ease-in 1s;
    }
    .content-three-icon-2 {
        top: 5rem;
        right: 10rem;
        transition: ease-in 1s;
    }
}